

<div class="row my-row">
  <div class='col-sm-12'> 
    <div class=" my-container">
      <h1>New Curriculum</h1>

      <%= render 'form', curriculum: @curriculum %>

      <%= link_to 'Back', curriculums_path %>    
    </div>
  </div>
</div>
