


<div class="row my-row">
  <div class='col-sm-12'> 
    <div class=" my-container">
      <h1>Editing Admin</h1>

      <%= render 'form', admin: @admin %>

      <%= link_to 'Show', @admin %> |
      <%= link_to 'Back', admins_path %>

    </div>
  </div>
</div>
