
<div class="row my-row">
  <div class='col-sm-12'> 
    <div class=" my-container">
      <h1>Editing Student</h1>

      <%= render 'form', student: @student %>

      <%= link_to 'Show', @student %> |
      <%= link_to 'Back', students_path %>
     
    </div>
  </div>
</div>
