
<div class="row my-row">
  <div class='col-sm-12'> 
    <div class=" my-container">
      <h1>New Section</h1>

      <%= render 'form', section: @section %>

      <%= link_to 'Back', sections_path %>
    </div>
  </div>
</div>
    
