$primary-color : #008552;
$outline-btn : rgb(151, 151, 151);
$secondary-color : #ddeee6	;
$background-color : rgb(83, 83, 83);

html{
  background-color: $background-color;
}

.toggle-btn{
  background-color: #ffffff00;
  border: 1px solid $outline-btn;
  z-index: 2;
  color: $outline-btn;
  visibility: hidden;
  font-size: xx-large;
  width: 50px;
  height: 40px;
  margin: 10px;
  &:hover{
    color: rgb(170, 170, 170);
    border: 1px solid rgb(201, 201, 201);
    background-color: #ff080800;
  }
  &:focus{
    outline: none;
  }
}

.btn-my-primary{
  color: rgb(247, 247, 247) !important;
  background-color: $primary-color !important;
  border: 1px solid green !important;
}

.sidebar{
  width: 250px;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: #aaddae	;
  box-shadow: 0 0 20px rgb(75, 75, 75) !important;
  z-index: 2;
  img{
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
    margin: 50px auto;
  }
  ul{
    padding: 0 !important;

    li{
      list-style-type: none;
      margin:0;
      a{
        width: 100%;
        display: block;
        height: 50px;
        padding-top: 15px;
        color: rgb(66, 66, 66);
        font-size: large;
        &:hover{
          background-color: $primary-color;
          color: white;
          text-decoration: none;
        }
        
      }
      i{
        margin-left: 40px;
        width:30px;
      }
    }
  }
}

.my-navbar{
  background-color: $secondary-color;
  border-bottom: 10px solid rgb(49, 49, 49);
  height: 70px;
  h3{
    display: inline-block;
    font-size: x-large;
  }
  span{
    float: right;
    margin: 18px;
    margin-right: 20px;
    img{
      width: 10px;;
    }
    a{
      color: black;
      &:hover{
        color: gray;
        text-decoration: none;
      }
    }
  }
}

.content{
  margin-left: 250px;
  background-color: $background-color;

  h3{
    padding: 20px;
  }
  .my-row{
    .my-container{
      margin: 10px 0px;
      padding: 20px !important;
      background-color: white !important;
      box-shadow: 0 0 2px gray;
      overflow: auto;
    }
  }
  
}

@media screen and (max-width: 600px) {
  .sidebar{
    margin: -300px;
    height: auto;
  }
  .content{
    margin: 0;
  }
  .my-navbar{
    h3{
      display: none;
    }
  }
}

table{
  width: 100%;
  border: 1px solid rgb(192, 192, 192);
  thead{
    th{
      text-align: center;
      padding: 5px;
      padding-left: 1em;
      padding-right: 1em;
      border: 1px solid rgb(192, 192, 192);
      &:focus{
        background-color: $primary-color;
        color: white;
        outline: none;
      }
    }
  }
  tr{
    td{
      padding: 10px;
      padding-left: 1%;
      border: 1px solid rgb(216, 216, 216);
      a{
        color: $primary-color !important;
      }
      
    }
    &:nth-child(even) {background-color: #f8f8f8;}
  }
}

.number-align{
  text-align: center;
}

.import_form{
  margin-bottom: 5px;
}

.btn-danger{
  color: white !important;
}
.btn-info{
  color: white !important;
}