<div class="my-navbar">
  <h3>
    <%= render 'layouts/toggle_button' %>
    <%= controller_name.capitalize %>
  </h3>
  <span>
    <div class="dropdown show">
      <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Welcome Admin
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>  
  </span>

</div>