
<div class='sidebar'>
  <%= image_tag '/images/logo.jpeg' %>
  <ul>
    <li>
      <a href="/">
        <i class="fas fa-chart-bar"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="/products">
        <i class="fas fa-birthday-cake"></i>
        Products
      </a>
    </li>
    <li>
      <a href="/categories">
        <i class="fas fa-list-alt "></i>
        Categories
      </a>
    </li>
    <li>
      <a href="/customers">
        <i class="fas fa-users"></i>
        Customers
      </a>
    </li>
    <li>
      <a href="/orders">
        <i class="fas fa-money-bill-alt"></i>
        Transactions
      </a>
    </li>
    <li>
      <a href="/admins">
        <i class="fas fa-users-cog"></i>
        Admins
      </a>
    </li>
  </ul>
</div>