
<div class='sidebar'>
  <%= image_tag '/images/logo.jpeg' %>
  <ul>
    <li>
      <a href="/sections">
        <i class="far fa-calendar-alt "></i>
        Sections
      </a>
    </li>
    <li>
      <a href="/students">
        <i class="fas fa-users"></i>
        Student
      </a>
    </li>
    <li>
      <a href="/grades">
        <i class="fas fa-list-alt "></i>
        Grade
      </a>
    </li>
    <li>
      <a href="/curriculums">
        <i class="fas fa-layer-group "></i>
        Curriculums
      </a>
    </li>
    <!-- <li>
      <a href="/school_years">
        <i class="fas fa-users"></i>
        School Year
      </a>
    </li> -->
    <li>
      <a href="/admins">
        <i class="fas fa-users-cog"></i>
        Admins
      </a>
    </li>
  </ul>
</div>